/*==========================================================================
Sponsors
==========================================================================*/
.sponsors__area {
    background: $text-color-8;
    padding: 56px 0;
    justify-content: space-between;
    height: 500px;
    
}
.sponsors__area-brand{
   

    img{
      
        
    }
}
.sponsors__area-title{
    margin-bottom: 100px;
}
/*==========================================================================
Clients
==========================================================================*/
.client__area {
    background: $text-color-1;
 
    padding-bottom: 150px;
    &-title {
        max-width: 620px;
        text-align: center;
        margin: 0 auto;
    }
    &-item {
        border: 1px solid $border3;
        padding: 50px;
        text-align: center;
        height: 50px;
        margin-top: 30px;
    }
}